    a{
     text-decoration:none;
     color:#cc0000;
    }
    a.button,div.container{
     float:left;
    }
    a.button{
     background-color: #8080ff;
     border:1px solid #660000;
     border-radius:5px;
     color:#fff;
     margin-right:10px;
     padding:10px 10px 10px 10px;
    }